.header {
  background-color: $color-white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.header-menu {
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;
  display: flex;
  column-gap: 50px;
  align-items: center;
  position: absolute;
  top: 0;
  left: $gap;
  right: $gap;

  &::after {
    content: "";
    height: 1px;
    width: 100vw;
    background-color: $color-gray;

    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50vw;
  }

  &__actions {
    display: flex;
    gap: $gap-sm;
  }

  &__btn {
    min-width: 120px;
  }
}

.header-navbar {
  flex-grow: 1;
  display: flex;
  column-gap: 60px;
}

.header-content {
  display: grid;
  grid-template-areas: "ttl img" "dsc img" "act img" "nts img";
  grid-template-columns: 580px 1fr;
  row-gap: $gap;
  padding-top: 160px;
  padding-bottom: 160px;

  @media (max-width: $xl) {
    grid-template-columns: 40% 1fr;
  }

  &__title {
    grid-area: ttl;
    font-weight: 600;
    font-size: 65px;
    line-height: 1.08;
    margin: 0;

    @media (max-width: $xl) {
      font-size: 40px;
    }
  }

  &__description {
    grid-area: dsc;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 20px;
    padding-right: 70px;
  }

  &__actions {
    grid-area: act;
    display: flex;
    column-gap: $gap-sm;
  }

  &__picture {
    grid-area: img;
    display: flex;
    align-items: center;
  }

  &__image {
    width: 100%;
  }

  &__btn {
    min-width: 160px;
  }

  &__notes {
    grid-area: nts;
  }
}