@use "../presets" as *;

.container {
  max-width: $xxl;
  margin: 0 auto;
  padding-right: $gap;
  padding-left: $gap;
}

.btn {
  display: block;

  min-height: 45px;
  padding: 0.5em 1em;

  border-width: 1px;
  border-style: solid;
  border-radius: 0;

  font-weight: 600;
}

.btn--light {
  border-color: rgba($color-black, 0.5);
  background-color: $color-white;
}

.btn--accent {
  color: $color-white;
  border-color: $color-accent;
  background-color: $color-accent;
}
